<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-slace=1.0">
    <title>Publicacion</title>
</head>

<body>
    <h1>Publicacion</h1>

    {% if publicacion %}
    <ul>
        {% for foto in publicacion %}
        <li>Publicacion:</li>
        <ul>
            <li>Fecha: {{foto.fecha}}</li>
            <li>Lugar: {{foto.lugar}}</li>
            <li>usuario: {{foto.usuario}}</li>
            <li>Publicacion: <img src={{foto.archivo}}> </li>
        </ul>
        {% endfor %}

    </ul>
     {% endif %}

</body>

</html>