<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Mi perfil</title>
    <link rel="stylesheet" href="{% static 'css/cuenta.css' %}">
</head>
<body>
    <div class="content-profile-page">
        <div class="profile-user-page card">
           <div class="img-user-profile">
             <img class="profile-bgHome" src="{% static 'images/eastblue.jpg' %}" />
             <img class="avatar" src="{% static 'images/luffy.png' %}" alt="jofpin"/>
                </div>
               <button>Seguir</button>
               <div class="user-profile-data">
                 <h1>{{persona.nombre}}</h1>
                 <p>{{persona.lema}}</p>
               </div> 
               <div class="description-profile">{{persona.descripcion}}</div>
            <ul class="data-user">
             <li><a><strong>{{persona.numpubli}}</strong><span>Publicaciones</span></a></li>
             <li><a><strong>{{persona.numseguidores}}</strong><span>Seguidores</span></a></li>
             <li><a><strong>{{persona.numsiguiendo}}</strong><span>Siguiendo</span></a></li>
            </ul>
           </div>
         </div>
</body>
</html>