<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-slace=1.0">
    <title>Funciono</title>
</head>

<body>
    <h1>Chats</h1>

    {% if chat %}
    <ul>
        {% for mensaje in chat %}
        <li>chat:</li>
        <ul>
            <li>ID_Chat: {{mensaje.id_chat}}</li>
            <li>DE: {{mensaje.usuario.email}}</li>
            <li>USUARIO: {{mensaje.usuario.email}}</li>
            <li>Mensaje:{{mensaje.mensaje}} </li>
        </ul>
        {% endfor %}
        
    </ul>
     {% endif %}

</body>

</html>