p {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    border: 10px solid black;
  }

  a:hover{
      color: black;
      background-color: white;
  }

  a{
      color:white;
  }

  a:visited{
      color: orange;
  }

  html{
      background-color: red;
  }