<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-slace=1.0">
    <title>Funciono</title>
</head>

<body>
    <h1>Usuarios</h1>

    {% if usuarios %}
    <ul>
        {% for persona in usuarios %}
        <li>informacion de Usuario:</li>
        <ul>
            <li>Nombre: {{persona.nombre}}</li>
            <li>Apellido: {{persona.apellido}}</li>
            <li>Email: {{persona.email}}</li>
            <li>Contraseña: {{persona.contraseña}}</li>
        </ul>
        {% endfor %}
        
    </ul>
     {% endif %}

</body>

</html>