<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-slace=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Funciono</title>
    </head>
    <body>
        <h1>Index</h1>
      <p>
    <a href="http://127.0.0.1:8000/usuario">Usuarios</a>
    <a href="http://127.0.0.1:8000/publicacion/publicacion ">Publicacion</a>
    <a href="http://127.0.0.1:8000/publicacion/historia">Historias</a>
    <a href="http://127.0.0.1:8000/chats">Chat</a>
    </p>

    </body>
</html>