<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
    <h3>Bienvenido</h3>
    <p>Nombre de Usuario: <input type="text" name="nombre" size="20" required></p>
    <p>Email: <input type="email" name="correo" size="40">
    <p>Sexo:
        <input type="radio" name="hm" value="h" required> Hombre
        <input type="radio" name="hm" value="m"> Mujer
      </p>
      <p>Fecha de Nacimiento: <input type="date" name="fecha"></p>
      <p><input type="checkbox" name="casilla">Acepto los Terminos y Condiciones de Uso de Cofradegram</p>
      <p> <input type="button" name="enviar" value="Registrarse">
    
</body>
</html>